# Ignore bundler
/.bundle
Gemfile.lock

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE
.idea
.vscode/*
!.vscode/settings.json

# Ignore coverage
coverage/
.rspec_status

# Ignore temp files
tmp/
*.log
*.gem

# Ignore example app local/runtime artifacts
examples/*/.env
examples/*/.github/
examples/*/.kamal/
examples/*/config/credentials.yml.enc
examples/*/config/master.key
